*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(14, 2, 48);

  
    box-shadow: 0px 2px 14px #112;
    position: absolute;
}
.header_nav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo{
    
position: absolute;
    
    left: 140px;
    top: 18%;
    
}
header img {
    width: 250px;
}


.nav_link{
    
    flex: 3 1 20rem;
    display: flex;
    margin-left: 400px;
    margin-right: 200px;
    align-items: center;
    justify-content:space-evenly;
    
}
.nav_link a{
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  font-family: 'Open Sans';
  font-style: normal;
  
}
.phone{
    
    margin-right: 70px;
    display: flex;
    width: 100px;
    height: 40px;
    background-color: rgb(27, 80, 238);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    font-family: 'Open Sans';
  font-style: normal;
}
.go{
    width: 100%;
    height:850px;
    background-color: rgb(14, 2, 48) ;
    
}
.uber{
    width: 100%;
    height: 100%;
    
    position: relative;
    
}
.rasm{
    position: absolute;
    top: 150px;
    left: 800px;
}
.uber img {
    width: 500px;
    height: 400px;
}
.nub{
position: absolute;
top: 200px;
left: 140px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
text-transform: uppercase;
color: #3A68B8;
}
.hub{
    position: absolute;
width: 550px;
height: 110px;
left: 140px;
top: 240px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 1000;
font-size: 55px;
line-height: 140%;
color: #fff;
}
p{
    position: absolute;
width: 500px;
height: 80px;
left: 140px;
top: 430px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #fff;
}
.get{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 30px;
gap: 30px;

position: absolute;
width: 171px;
height: 50px;
left: 140px;
top: 540px;
background: #3A68B8;
border-radius: 5px;
align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    border-radius: 3px;
    font-family: 'Open Sans';
  font-style: normal;
color: #fff;
}
.video{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 30px;
gap: 10px;
align-items: center;
    justify-content: center;
position: absolute;
width: 217px;
height: 50px;
left: 330px;
top: 540px;
font-size: 17px;
    font-weight: 600;
    border-radius: 3px;
    font-family: 'Open Sans';
  font-style: normal;
color: #fff;
background: #3A68B8;
border-radius: 5px;
}
.video img{
   
    width: 18px ;
    height: 18px;
}
.logos{
    
    position: absolute;
    top : 750px;
    left: 300px;
}
.logos img{
    width: 800px;
    height: 70px;
}
.floter{
    width: 100%;
    height:1200px;
    background-color: rgb(4, 2, 28) ;
    position: relative;
}
.floter img {
    width: 570px ;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 140px;

}
.apply h1 {
    position: absolute;
width: 484px;
height: 104px;
left: 750px;
top: 320px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #fff;
}
.apply p{
    position: absolute;
width: 460px;
height: 78px;
left: 750px;
top: 460px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
}
.apply a{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 30px;
gap: 10px;

position: absolute;
width: 150px;
height: 52px;
left: 750px;
top: 580px;

background: #3A68B8;
border-radius: 5px;
color: #fff;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
}
.cubs{
    position: relative;
    top: 900px;
   width: 230px;
   height: 260px;
   background-image: linear-gradient(rgba(1, 16, 34, 0.5), rgb(255, 255, 255,0.1));
   border-radius: 5px;
}
.cubs-1{
    position: relative;
    top: 640px;
    left: 260px;
   width: 240px;
   height: 260px;
   background-image: linear-gradient(rgba(1, 16, 34, 0.5), rgb(255, 255, 255,0.1));
   border-radius: 5px;
}
.cubs-2{
    position: relative;
    top: 380px;
    left: 530px;
   width: 230px;
   height: 260px;
   background-image: linear-gradient(rgba(1, 16, 34, 0.5), rgb(255, 255, 255,0.1));
   border-radius: 5px;
}
.cubs-3{
    position: relative;
    top: 240px;
    left: 960px;
   width: 240px;
   height: 260px;
   background-image: linear-gradient(rgba(1, 16, 34, 0.5), rgb(255, 255, 255,0.1));
   border-radius: 5px;
}
.cubs-4{
    position: relative;
    bottom: 140px;
    left: 790px;
   width: 240px;
   height: 260px;
   background-image: linear-gradient(rgba(1, 16, 34, 0.5), rgb(255, 255, 255,0.1));
   border-radius: 5px;
}
.cubs  img {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 40px;
    height: 40px;
}
.cubs-1  img {
    position: absolute;
    top: 30px;
    left: 80px;
    width: 40px;
    height: 40px;
}
.cubs-4 img{
   
    position: absolute;
    top: 30px;
    left: 80px;
    width: 40px;
    height: 40px;
}
.cubs-3  img {
    position: absolute;
    top: 30px;
    left: 80px;
    width: 40px;
    height: 40px;
}
.cubs-2 img {
    position: absolute;
    top: 30px;
    left: 80px;
    width: 40px;
    height: 40px;
}
h1{
    position: absolute;
    top: 85px;
    left: 5px;
    right: px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans';
font-style: normal;
}
 h5{
    position: absolute;
    top: 135px;
    left: 15px;
    right: 15px;
    font-size: 10px;
  
text-align: center;
color: #fff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}